/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 2rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color: #1a1a1a;
  color: white;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 4rem;
  }
}

.heroLogo {
  width: 458px;
  height: 355px;
  margin-bottom: 2rem;
}

.heroTitle {
  font-size: 3.5rem;
  font-weight: bold;
  color: #c71c3a;
}

.heroSubtitle {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.button {
  background-color: #c71c3a;
  color: #1a1a1a;
  border: none;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  border-radius: 8px;
}

.button:hover {
  background-color: white;
  color: #1a1a1a;
}
